@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div>
    <h2>jdladlad</h2>
</div>
<div>
    <input type="text" style="height:50px;width:1000px;" placeholder="sadadasdsa">
</div>
<p>Use this area to provide additional information.</p>
